#root {
  width: 100%;
  padding: 1em;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  background-color: hsla(0, 0%, 12.5%, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- --- --- --- */
/* Utility */
/* --- --- --- --- */
.flex {
  display: flex;
}

/* --- --- --- --- */
/* Intro Page */
/* --- --- --- --- */
.new-game-display {
  flex-direction: column;
  gap: 3em;
  width: 90%;
}

.red-h1 {
  opacity: 0%;

  padding: 1em;
  color: tomato;
  border-bottom: 3px solid rgba(255, 99, 71, 0.5);
  background-color: rgba(255, 99, 71, 0.2);
  border-radius: 5em;

  animation: 1s linear 0.5s 1 slideInFromLeft forwards;
}

.green-h1 {
  opacity: 0%;

  padding: 1em;
  color: greenyellow;
  border-bottom: 3px solid rgba(172, 255, 47, 0.5);
  background-color: rgba(172, 255, 47, 0.2);
  border-radius: 5em;

  animation: 1s linear 1.5s 1 slideInFromLeft forwards;
}

.gold-button {
  opacity: 0%;
  padding: 1.5em;
  background-color: gold;
  color: black;
  animation: 1s linear 2.5s 1 slideInFromLeft forwards;
}
.gold-button:hover {
  box-shadow: 1px 1px 0px 1px black, 0px 0px 10px 10px #b46000;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0%;
    transform: translateX(-100%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

/* --- --- --- --- */
/* Main Game */
/* --- --- --- --- */

.main-app {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 95%;
  gap: 0.5em;
}

.click-his-face {
  text-shadow: 2px 1px 1px black;
  width: 120%;
  font-size: 3em;
  background-color: rgba(255, 99, 71, 0.5);
}

audio {
  border-radius: 1.5em;
}

.audio-section {
  margin-bottom: 1em;
  font-style: italic;
}

.main-app h1 {
  color: hsl(0, 0%, 0%);
  text-shadow: 2px 0px 10px white;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2), 1px 0 5px white;
  background-image: url("/assets/images/Ready-Steady-Cook-banner.jpg");

  background-size: contain;
  height: 1.5em;
  width: 120%;
  padding: 0.2em;
}

.harriots-number {
  font-size: 2em;
  font-weight: 800;
  color: tomato;
  text-shadow: 2px 0px 5px black;
}

.harriots-per-second {
  font-size: 1.5em;
  font-weight: 600;
  color: tomato;
  text-shadow: 2px 0px 5px black;
}

.big-ainsley-button {
  height: 15em;
  margin: 30px;
  background-color: tomato;
  border-radius: 50%;
  transition: all 0.05s;
  animation: logo-spin infinite 20s linear;
}

.big-ainsley-button:hover {
  background-color: lightblue;
  box-shadow: 0px 5px 20px darkcyan;
}

.big-ainsley-button:active {
  background-color: orange;
  box-shadow: 0px 5px 60px orangered;
}

.small-ainsley {
  height: 3em;
  background-color: tomato;
  border-radius: 50%;
  animation: logo-spin infinite 20s linear;
}

.upgrade-section h3 {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
}

.upgrade-section ul {
  width: 30%;

  flex-direction: row;
  gap: 1em;

  list-style: none;
  overflow: scroll;

  background-color: hsla(0, 0%, 12.5%, 0.2);
  border-radius: 1em;
  border: 3px solid tomato;
}

.upgrade-section li {
  cursor: pointer;
  font-size: 1.1em;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;

  padding: 0.25em;

  min-width: 10em;
  max-width: 11em;
  margin: 10px;
  background-color: hsla(0, 0%, 75%, 0.5);
  border-radius: 1em;
}

.upgrade-section li:hover {
  background-color: rgba(173, 216, 230, 0.493);
  box-shadow: 0px 5px 20px darkcyan;
}

.upgrade-section li:active {
  background-color: orange;
  box-shadow: 0px 5px 60px orangered;
}

.upgrade-details-box {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.upgrade-title {
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: center;
}

.individual-detail-row {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.upgrade-icon {
  height: 5em;
  width: 5em;
  cursor: pointer;
  padding: 0.1em;
  border-radius: 1em;
}

.upgrade-left {
  font-style: italic;
}

.upgrade-content {
  font-weight: 600;
  text-align: right;
}

.reset-button {
  margin-top: 2em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .big-ainsley-button {
    animation: logo-spin infinite 20s linear;
  }
}

.float-animation {
  position: fixed;
  z-index: 9;
  pointer-events: none;
  animation-name: float-animation;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  margin: 0;
  padding: 0;

  background-color: rgba(255, 255, 255, 0);
  color: white;

  width: 200px;
  height: 200px;
}
@keyframes float-animation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, -300px);
    opacity: 0;
  }
}

/* --- --- --- --- */
/* For the Extra Ainsleys Scroll Effect */
/* --- --- --- --- */

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    104,
    104,
    104,
    0.3
  ); /* Black background with opacity */
  z-index: -500; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.wrapper {
  position: absolute;
  z-index: -1000;
  top: 25%;

  width: 100vw;
  overflow: hidden;
}

.marquee {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* --- --- --- --- */
/* Media Queries */
/* --- --- --- --- */

@media (max-width: 400px) {
  .main-app h1 {
    font-size: 1.5em;
  }
  .big-ainsley-button {
    height: 10em;
  }
  .upgrade-section ul {
    width: 15em;
  }
  .upgrade-section li {
    gap: 0.25em;
  }
  .upgrade-icon {
    height: 3.5em;
    width: 3.5em;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .main-app h1 {
    font-size: 2.25em;
  }
  .big-ainsley-button {
    height: 15em;
  }
  .upgrade-section ul {
    width: 20em;
  }
  .upgrade-section li {
    gap: 0.5em;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .new-game-display {
    width: 50%;
  }
  .main-app h1 {
    font-size: 2.5em;
  }
  .big-ainsley-button {
    height: 15em;
  }
  .upgrade-section ul {
    width: 30em;
  }
  .upgrade-section li {
    gap: 0.5em;
  }
}

@media (min-width: 1001px) {
  .new-game-display {
    width: 30%;
  }

  .main-app h1 {
    font-size: 2.75em;
  }
  .harriots-number {
    font-size: 2.5em;
  }
  .big-ainsley-button {
    height: 20em;
  }
  .upgrade-section ul {
    width: 80em;
    justify-content: center;
  }
  .upgrade-section li {
    gap: 0.5em;
  }
}
